@use "../../styles/abstracts/variables" as *;
@use "../../styles/abstracts/shadows" as *;
@use "../../styles/abstracts/typography" as *;
@use "../../Styles/abstracts/breakpoints" as *;

.subscription {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $neutral-200;
  padding: $display-6;

  @include mobile {
    align-items: flex-start;
    padding: $display-8;
  }
  @include tablet {
    padding: $display-5 $display-4;
    display: flex;
    justify-content: start;
    align-items: flex-start;
  }
}

.container {
  width: 100%;
  max-width: 651px;
  background: $white;
  padding: $display-5;
  border-radius: $display-13;
  box-shadow: $shadow-02;

  @include mobile {
    padding: $display-4;
    border-radius: $display-4;
  }

  h2 {
    font-size: $display-13;
    font-weight: $display-font-1;
    color: $neutral-800;
    margin-bottom: 6px;

    @include mobile {
      font-size: $display-12;
    }
  }

  p {
    color: $neutral-600;
    margin-bottom: $display-8;
    font-size: $display-2;

    @include mobile {
      margin-bottom: $display-6;
    }
  }
}

.planGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $display-6;

  @include mobile {
    grid-template-columns: 1fr;
  }
}

.card {
  position: relative;
  padding: $display-6;
  border-radius: $display-4;
  border: 1px solid $neutral-400;
  cursor: pointer;
  transition: all 0.25s ease;
  background: $white;

  @include mobile {
    padding: $display-5;
  }

  h4 {
    font-size: $display-3;
    font-weight: $display-font-1;
    color: $neutral-800;
    margin-bottom: 6px;
  }

  p {
    font-size: $display-2;
    color: $neutral-600;
    margin-bottom: $display-4;
  }

  &:hover {
    border-color: $purple-500;
  }
}

.active {
  border: 2px solid $purple-700;
  background: rgba($purple-200, 0.4);
  box-shadow: 0 4px $display-1 rgba(123, 47, 247, 0.08);
}

.radio {
  position: absolute;
  top: $display-5;
  right: $display-5;
  width: $display-4;
  height: $display-4;
  border: 2px solid $neutral-500;
  border-radius: 50%;
  transition: 0.2s ease;

  @include mobile {
    top: $display-2;
    right: $display-2;
  }
}

.active .radio {
  background: $purple-700;
  border-color: $purple-700;
}

.tags {
  display: flex;
  gap: $display-1;
  flex-wrap: wrap;

  span {
    font-size: $display-1;
    background: $neutral-300;
    padding: 6px $display-1;
    border-radius: $display-5;
    display: flex;
    align-items: center;
    gap: 6px;
    color: $neutral-700;
  }
}

.active .tags span {
  background: rgba($purple-200, 0.7);
  color: $purple-700;
}

.buttons {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  gap: $display-4;

  @include mobile {
    flex-direction: column-reverse;
  }
}

.back {
  padding: 10px $display-7;
  border-radius: $display-1;
  border: 1px solid #ccc;
  background: $white;
  width: fit-content;

  @include mobile {
    width: 100%;
  }
}

.continue {
  padding: 10px 40px;
  border-radius: $display-1;
  border: none;
  background: linear-gradient(90deg, $purple-600, #9b4dff);
  color: $white;

  @include mobile {
    width: 100%;
  }
}
