@use "../../styles/abstracts/variables" as *;
@use "../../styles/abstracts/shadows" as *;
@use "../../styles/abstracts/typography" as *;

.formWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: clamp(20px, 5vw, 60px);
  background: $neutral-200;
  min-height: 100vh;
}

.wrapper {
  max-width: 800px;
  margin: auto;
  

  h2 {
    font-size: 28px;
    font-weight: 600;
  }

  p {
    color: #6b6b8c;
    margin-bottom: 30px;
  }
}

.planGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card {
  position: relative;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid #e5e5f0;
  cursor: pointer;
  transition: 0.3s ease;
  background: $white;

  h4 {
    margin-bottom: 5px;
  }

  p {
    font-size: 14px;
    margin-bottom: 15px;
  }
}

.card:hover {
  border-color: $purple-400;
}

.active {
  border: 2px solid #7b2ff7;
  background: $neutral-400;
}

.radio {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 18px;
  border: 2px solid #7b2ff7;
  border-radius: 50%;
}

.active .radio {
  background: $purple-600;
}

.tags {
  display: flex;
  gap: 10px;

  span {
    font-size: 12px;
    background: $neutral-500;
    padding: 6px 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

.buttons {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.back {
  padding: 10px 30px;
  border-radius: 12px;
  border: 1px solid #ccc;
  background: $white;
}

.continue {
  padding: 10px 40px;
  border-radius: 12px;
  border: none;
  background: linear-gradient(90deg, #7b2ff7, #9b4dff);
  color: $white;
}
