@use "../../styles/abstracts/variables" as *;
@use "../../styles/abstracts/shadows" as *;
@use "../../styles/abstracts/typography" as *;
@use "../../styles/abstracts/breakpoints" as *;


.formWrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: clamp(20px, 5vw, 60px);
  background: $neutral-200;
}


.wrapper {
  width: 100%;
  max-width: 820px;
  background: $white;
  padding: 20px;
  border-radius: 28px;
  box-shadow: $shadow-02;

  h2 {
    font-size: 28px;
    font-weight: 600;
    color: $neutral-800;
    margin-bottom: 6px;
  }

  p {
    color: $neutral-600;
    margin-bottom: 36px;
    font-size: 14px;
  }

  @include respond(mobile) {
    padding: 28px;
    border-radius: 20px;
  }
}


.planGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;

  @include respond(tablet) {
    grid-template-columns: 1fr;
  }
}


.card {
  position: relative;
  padding: 24px;
  border-radius: 18px;
  border: 1px solid $neutral-400;
  cursor: pointer;
  transition: all 0.25s ease;
  background: $white;

  h4 {
    font-size: 16px;
    font-weight: 600;
    color: $neutral-800;
    margin-bottom: 6px;
  }

  p {
    font-size: 14px;
    color: $neutral-600;
    margin-bottom: 18px;
  }

  &:hover {
    border-color: $purple-500;
  }
}



.active {
  border: 2px solid $purple-700;
  background: rgba($purple-200, 0.4);
  box-shadow: 0 4px 12px rgba(123, 47, 247, 0.08);
}


.radio {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 18px;
  border: 2px solid $neutral-500;
  border-radius: 50%;
  transition: 0.2s ease;
}

.active .radio {
  border-color: $purple-700;
  background: $purple-700;
}

.tags {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;

  span {
    font-size: 12px;
    background: $neutral-300;
    padding: 6px 12px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 6px;
    color: $neutral-700;
  }
}

.active .tags span {
  background: rgba($purple-200, 0.7);
  color: $purple-700;
}



