@use "../../styles/abstracts/variables" as *;
@use "../../styles/abstracts/shadows" as *;
@use "../../styles/abstracts/typography" as *;
@use "../../Styles/abstracts/breakpoints" as *;

.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $neutral-200;
  padding: clamp($display-5, 5vw, $display-10);

  @include tablet {
    display: flex;
    align-items: flex-start;
  }
}

.card {
  width: 100%;
  max-width: 720px;
  background: $neutral-300;
  padding: clamp($display-6, 4vw, $display-9);
  border-radius: $display-4;
  box-shadow: $shadow-01;
}

.title {
  font-size: clamp(26px, 3vw, 34px);
  font-weight: $display-font-2;
  color: $purple-700;
  margin-bottom: $display-6;
}

.message {
  font-size: $display-3;
  color: $neutral-700;
  margin-bottom: $display-6;
}

.details {
  margin-bottom: $display-8;

  p {
    font-size: $display-3;
    margin-bottom: 10px;
    color: $neutral-700;

    span {
      font-weight: $display-font-1;
      color: $neutral-700;
    }
  }
}

.button {
  padding: $display-2 $display-6;
  background: $purple-700;
  color: #fff;
  border-radius: $display-3;
  border: none;
  cursor: pointer;
  font-size: $display-3;
  font-weight: $display-font-3;
  transition: 0.3s ease;

  &:hover {
    background: $purple-700;
    box-shadow: $shadow-03;
  }
}
