@use "../../styles/abstracts/variables" as *;
@use "../../styles/abstracts/shadows" as *;
@use "../../styles/abstracts/typography" as *;

.sidebar {
  min-height: 100vh;
  min-width: 320px;  
  flex-shrink: 0; 
  background: $purple-200;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 24px;

}


.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: $display-4;
  font-weight: 600;
  color: $neutral-800;

  &Icon {
    width: 24px;
    height: 24px;
    background: radial-gradient(circle at 4px 4px, $purple-700 3px, transparent 4px),
      radial-gradient(circle at 12px 4px, $purple-700 3px, transparent 4px),
      radial-gradient(circle at 20px 4px, $purple-700 3px, transparent 4px),
      radial-gradient(circle at 8px 12px, $purple-700 3px, transparent 4px),
      radial-gradient(circle at 16px 12px, $purple-700 3px, transparent 4px);
    background-repeat: no-repeat;
  }
}


.steps {
  margin-top: 50px;
  flex: 1;
}

.stepWrapper {
  display: flex;
  gap: 20px;
  margin-bottom: 32px;
}

.leftSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  width: 38px;
  height: 38px;
  border-radius: 12px;
  background: $neutral-300;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $display-3;
  font-weight: 600;
  color: $neutral-600;
  transition: all 0.3s ease;
}

.active {
  background: linear-gradient(135deg, $purple-700, $purple-600);
  color: $white;
  box-shadow: $shadow-03;
}

.completed {
  background: $purple-700;
  color: $white;
}

.line {
  width: 2px;
  height: 30px;
  margin-top: 8px;
  background: $neutral-400;
  transition: background 0.3s ease;
}

.lineActive {
  background: $purple-600;
}


.content {
  h4 {
    font-size: $display-3;
    font-weight: 600;
    margin-bottom: 6px;
    color: $neutral-800;
    line-height: $lh-default;
  }

  p {
    font-size: $display-2;
    color: $neutral-500;
    line-height: $lh-default;
  }
}


.help {
  margin-top: 40px;
  padding-top: 24px;
  border-top: 1px solid $neutral-400;

  h4 {
    font-size: $display-3;
    font-weight: 600;
    color: $neutral-800;
    margin-bottom: 4px;
  }

  p {
    font-size: $display-2;
    color: $neutral-500;
  }
}
