@use "../../styles/abstracts/variables" as *;
@use "../../styles/abstracts/shadows" as *;
@use "../../styles/abstracts/typography" as *;
@use "../../styles/abstracts/breakpoints" as *;

.formWrapper {
  flex: 1;
  height: 100%;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: clamp($display-5, 5vw, $display-10);
}

.form {
  width: 100%;
  max-width: 660px;
  background: $neutral-200;
  padding: clamp($display-5, 4vw, 40px);
  border-radius: $display-3;
  box-shadow: $shadow-01;

  &__title {
    font-size: $display-12;
    font-weight: $display-font-1;
    margin-bottom: $display-7;
    color: $neutral-800;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $display-5;
  }

  &__field {
    display: flex;
    flex-direction: column;

    label {
      font-size: $display-2;
      font-weight: $display-font-3;
      margin-bottom: 6px;

      span {
        color: red;
      }
    }

    input {
      padding: $display-1 $display-2;
      border-radius: 10px;
      border: 1px solid #e5e7eb;
      font-size: $display-2;
      transition: 0.3s;

      &:focus {
        border-color: $purple-700;
        outline: none;
        box-shadow: $shadow-03;
      }
    }
  }

  &__field--full {
    grid-column: span 2;
  }

  &__error {
    font-size: $display-1;
    color: #dc2626;
    margin-top: 5px;
  }

  &__actions {
    margin-top: $display-7;
    display: flex;
    justify-content: flex-end;
  }
}

@include mobile {
  .formWrapper {
    align-items: flex-start;
    padding: $display-11 $display-2 $display-6;
    min-height: 100dvh;
  }
  .form {
    padding: $display-12 $display-3;
    border-radius: $display-4;

    &__title {
      font-size: $display-5;
      margin-bottom: $display-5;
    }

    &__grid {
      grid-template-columns: 1fr;
      gap: 16px;
    }

    &__field--full {
      grid-column: span 1;
    }

    &__actions {
      justify-content: stretch;

      button {
        width: 100%;
      }
    }
  }
}

@include tablet {
  .formWrapper {
    padding: $display-7 $display-6;
    align-items: flex-start;
  }

  .form {
    padding: $display-13;
    min-height: 80vh;
  
    &__grid {
      grid-template-columns: 1fr 1fr;
      gap: 40px;
    }
  }
}
