@use "../../styles/abstracts/variables" as *;
@use "../../styles/abstracts/shadows" as *;
@use "../../styles/abstracts/typography" as *;
@use "../../styles/abstracts/breakpoints" as *;

.formWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: clamp(20px, 5vw, 60px);
  background: $neutral-200;
  min-height: 100vh;
}

.form {
  width: 100%;
  max-width: 660px;
  background: $neutral-200;
  padding: clamp(20px, 4vw, 40px);
  border-radius: 16px;
  box-shadow: $shadow-01;

  &__title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 30px;
    color: $neutral-800;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  &__field {
    display: flex;
    flex-direction: column;

    label {
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 6px;

      span {
        color: red;
      }
    }

    input {
      padding: 12px 14px;
      border-radius: 10px;
      border: 1px solid #e5e7eb;
      font-size: 14px;
      transition: 0.3s;

      &:focus {
        border-color: $purple-700;
        outline: none;
        box-shadow: $shadow-03;
      }
    }
  }

  &__field--full {
    grid-column: span 2;
  }

  &__error {
    font-size: 12px;
    color: #dc2626;
    margin-top: 5px;
  }

  &__actions {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
  }
}


