$mobile: 576px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$mobile + 1}) and (max-width: #{$tablet}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$tablet + 1}) and (max-width: #{$laptop}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$laptop + 1}) {
    @content;
  }
}
