
$mobile: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1280px;


@mixin respond($device) {
  @if $device == mobile {
    @media (max-width: $mobile) { @content; }
  }

  @if $device == tablet {
    @media (max-width: $tablet) { @content; }
  }

  @if $device == laptop {
    @media (max-width: $laptop) { @content; }
  }

  @if $device == desktop {
    @media (max-width: $desktop) { @content; }
  }
}