$shadow-01: 0px 2px 4px rgba(0, 0, 0, 0.05);
$shadow-02: 0px 4px 8px rgba(0, 0, 0, 0.08);
$shadow-03: 0px 8px 16px rgba(0, 0, 0, 0.1);
$shadow-04: 0px 12px 24px rgba(0, 0, 0, 0.12);
$shadow-05: 0px 16px 32px rgba(0, 0, 0, 0.14);
$shadow-06: 0px 20px 40px rgba(0, 0, 0, 0.16);
