$display-11: 80px;
$display-13: 28px;
$display-12: 22px;
$display-10: 60px;
$display-9: 48px;
$display-8: 36px;
$display-7: 30px;
$display-6: 24px;
$display-5: 20px;
$display-4: 18px;
$display-3: 16px;
$display-2: 14px;
$display-1: 12px;

$lh-display-large: 115%;
$lh-default: 135%;

$display-font-1: 600;
$display-font-2: 700;
$display-font-3: 500;
