$display-11: 84px;
$display-10: 60px;
$display-9: 48px;
$display-8: 36px;
$display-7: 30px;
$display-6: 24px;
$display-5: 20px;
$display-4: 18px;
$display-3: 16px;
$display-2: 14px;
$display-1: 12px;

$lh-display-large: 115%;
$lh-default: 135%;