$purple-700: #4a3aff;
$purple-600: #897fff;
$purple-500: #a0a3bd;
$purple-400: #897fff;
$purple-300: #eae8ff;
$purple-200: #f1f0fb;
$purple-100: #f1f0fb;

$neutral-800: #170f49;
$neutral-700: #514f6e;
$neutral-600: #6f6c8f;
$neutral-500: #a0a3bd;
$neutral-400: #d9dbe9;
$neutral-300: #f1f2f9;
$neutral-200: #f8f8fb;
$white: #ffffff;
