$purple-700: #4A3AFF;
$purple-600: #897FFF;
$purple-500: #A0A3BD;
$purple-400: #897FFF;
$purple-300: #EAE8FF;
$purple-200: #F1F0FB;
$purple-100: #F1F0FB;

$neutral-800: #170F49;
$neutral-700: #514F6E;
$neutral-600: #6F6C8F;
$neutral-500: #A0A3BD;
$neutral-400: #D9DBE9;
$neutral-300: #F1F2F9;
$neutral-200: #F8F8FB;
$white: #FFFFFF;

